
body {
  background-color: #A0BEC0;
}

h1 {
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

h2 {
  color: #3E3C2F;
}

h3 {
  color: #3E3C2F;
}

p {
  color: white;
  font-size: 16px;
	line-height: 1.5;
}

.sub-text {
  color: gray;
  font-size: 14px;
  line-height: 1.5;
}

.footer-text {
  color: white;
  font-size: 12px;
  line-height: 1;
}

.navigation-link {
  color: #E34C2F;
  font-weight:bold;
}

.important:hover {
  background-color:pink;
}

p.important {
  width: 75%;
}


a[href="https://www.linkedin.com/in/wallacedane/"] {
  color: #49302B;
}

a[href="https://github.com/danewallace"] {
  color: #49302B;
}

a[href="https://www.instagram.com/moonandmiumiu/"] {
  color: #49302B;
}

img {
  border-style: dashed;
  border-color: black;
  border-width: 3px;
  width:25%;
}
