
body {
  background-color: #A0BEC0;
}

h1 {
  color: black;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

h2 {
  color: #3E3C2F;
}

h3 {
  color: #3E3C2F;
}

p {
  color: white;
  font-size: 16px;
	line-height: 1.5;
}

a {
  text-decoration: none;
  color: #49302B;
}

a:hover {
  text-decoration: underline;
}

.sub-text {
  color: gray;
  font-size: 14px;
  line-height: 1.5;
}

.footer-text {
  color: white;
  font-size: 12px;
  line-height: 1;
}

.navigation-link {
  color: #E34C2F;
  font-weight:bold;
}

.important:hover {
  background-color:pink;
}

p.important {
  width: 75%;
}


.lessons img {
  height: 256px;
  width: 256px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
  transition-duration: .5s;
  transition-property: all;
  transition-timing-function: ease-out;
  overflow: scroll;
  filter: grayscale(100%);
}

.lessons img:hover {
  width: 256px;
  height: 256px;
  filter: grayscale(0%);
}


.fa-github {
  color: gray;
  font-size: 48px;
  transition: all 1s ease;
}

.fa-github:hover {
  color: purple;
}
